nav {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav ul {
    flex-direction: column;
    width: 100%;
}

li a {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.logo {
    transform: rotate(-90deg) scale(5);
}

@media (max-width: 1200px){
    nav{
        width: 100vw;
        height: 10vh;
    }

    .logo{
        width: 50%;
        transform: none;
    }

    nav ul {
        flex-direction: row !important;
    }

    .avatar{
        display: none;
    }
}