
        <section
            class="container-fluid d-flex align-items-center justify-content-center vh-100 bg-light-subtle bg-gradient"
        >
            <div class="card shadow p-4 d-flex align-items-center justify-content-center">
                 <img
                class="mb-4 w-75 p-2"
                src="/assets/cargo ops_logo.svg"
                alt=""
            />
        
                <form [formGroup]="ReactiveForm" (ngSubmit)="checkUser()" class="w-100">
                    <div class="mb-3">
                        <label for="email">Correo electrónico</label>
                        <input
                            type="email"
                            id="email"
                            formControlName="email"
                            class="form-control"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="password">Contraseña</label>
                        <input
                            type="password"
                            id="password"
                            formControlName="password"
                            class="form-control"
                        />
                    </div>
                    <button type="submit" class="btn btn-outline-primary w-100">
                        Iniciar sesión
                    </button>
                </form>

             
            </div>
        </section>