<div class="container">
    <div class="row mb-5 border-bottom">
        <h2>Gestión de Usuarios</h2>

        <!-- Formulario añadir usuario -->
        <form
            *ngIf="!usuarioSeleccionado"
            (ngSubmit)="crearUsuario()"
            class="col-12 col-lg-3 mb-5"
        >
            <div class="mb-3">
                <input
                    [(ngModel)]="nuevoUsuario.nombre"
                    name="nombre"
                    class="form-control"
                    placeholder="Nombre"
                    required
                />
            </div>
            <div class="mb-3">
                <input
                    [(ngModel)]="nuevoUsuario.apellido"
                    name="apellido"
                    class="form-control"
                    placeholder="Apellido"
                    required
                />
            </div>
            <div class="mb-3">
                <input
                    [(ngModel)]="nuevoUsuario.email"
                    name="email"
                    class="form-control"
                    placeholder="Email"
                    required
                />
                <div *ngIf="emailDuplicado" class="text-danger">
                    El email ya está registrado
                </div>
            </div>
            <div class="mb-3">
                <input
                    [(ngModel)]="nuevoUsuario.password"
                    name="password"
                    class="form-control"
                    placeholder="Contraseña"
                    required
                />
            </div>
            <div class="mb-3">
                <select
                    [(ngModel)]="nuevoUsuario.rol"
                    name="rol"
                    class="form-select"
                    required
                >
                    <option value="" disabled selected>
                        Selecciona un rol
                    </option>
                    <option value="encargado">Encargado</option>
                    <option value="jefe">Jefe</option>
                    <option value="operario">Operario</option>
                </select>
            </div>
            <div class="mb-3">
                <select
                    [(ngModel)]="nuevoUsuario.almacen_id"
                    name="almacenId"
                    class="form-select"
                    required
                >
                    <option value="" disabled selected>
                        Seleccione un almacén
                    </option>
                    <option
                        *ngFor="let almacen of almacenes"
                        [value]="almacen.id"
                    >
                        {{ almacen.nombre }}
                    </option>
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-dark badge fs-5 py-2 px-3">
                    Agregar Usuario
                </button>
            </div>
        </form>

        <!-- Formulario editar usuario -->
        <form
            *ngIf="usuarioSeleccionado"
            (ngSubmit)="editarUsuario()"
            class="col-12 col-lg-3 mb-5"
        >
            <div class="mb-3">
                <input
                    [(ngModel)]="usuarioSeleccionado.nombre"
                    name="nombre"
                    class="form-control"
                    placeholder="Nombre"
                    required
                />
            </div>
            <div class="mb-3">
                <input
                    [(ngModel)]="usuarioSeleccionado.apellido"
                    name="apellido"
                    class="form-control"
                    placeholder="Apellido"
                    required
                />
            </div>
            <div class="mb-3">
                <input
                    [(ngModel)]="usuarioSeleccionado.email"
                    name="email"
                    class="form-control"
                    placeholder="Email"
                    required
                />
                <div *ngIf="emailDuplicado" class="text-danger">
                    El email ya está registrado
                </div>
            </div>
            <div class="mb-3">
                <select
                    [(ngModel)]="usuarioSeleccionado.rol"
                    name="rol"
                    class="form-select"
                    required
                >
                    <option value="encargado">Encargado</option>
                    <option value="jefe">Jefe</option>
                    <option value="operario">Operario</option>
                </select>
            </div>
            <div class="mb-3">
                <select
                    [(ngModel)]="usuarioSeleccionado.almacen_id"
                    name="almacenId"
                    class="form-select"
                    required
                >
                    <option value="" disabled selected>
                        Seleccione un almacén
                    </option>
                    <option
                        *ngFor="let almacen of almacenes"
                        [value]="almacen.id"
                    >
                        {{ almacen.nombre }}
                    </option>
                </select>
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-warning">
                    Editar Usuario
                </button>
            </div>
        </form>

        <div class="table-responsive-lg col">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido }}</td>
                        <td>{{ usuario.email }}</td>

                        <td>{{ usuario.rol }}</td>
                        <td>
                            <button
                                class="btn btn-warning btn-sm me-2"
                                (click)="cargarUsuarioAEditar(usuario)"
                            >
                                Editar
                            </button>
                            <button
                                class="btn btn-danger btn-sm"
                                (click)="eliminarUsuario(usuario.id)"
                            >
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h2>Gestión de Almacenes</h2>

        <!-- Formulario añadir almacén -->
        <form
            *ngIf="!almacenSeleccionado"
            (ngSubmit)="crearAlmacen()"
            class="col-12 col-lg-3 mb-5"
        >
            <div class="mb-3">
                <input
                    [(ngModel)]="nuevoAlmacen.nombre"
                    name="nombre"
                    class="form-control"
                    placeholder="Nombre del Almacén"
                    required
                />
            </div>
            <div class="mb-3">
                <input
                    [(ngModel)]="nuevoAlmacen.localizacion"
                    name="localizacion"
                    class="form-control"
                    placeholder="Localización"
                    required
                />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-dark badge fs-5 py-2 px-3">
                    Agregar Almacén
                </button>
            </div>
        </form>

        <!-- Formulario editar almacén -->
        <form
            *ngIf="almacenSeleccionado"
            (ngSubmit)="editarAlmacen()"
            class="col-12 col-lg-3 mb-5"
        >
            <div class="mb-3">
                <input
                    [(ngModel)]="almacenSeleccionado.nombre"
                    name="nombre"
                    class="form-control"
                    placeholder="Nombre del Almacén"
                    required
                />
            </div>
            <div class="mb-3">
                <input
                    [(ngModel)]="almacenSeleccionado.localizacion"
                    name="localizacion"
                    class="form-control"
                    placeholder="Localización"
                    required
                />
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-dark badge fs-5 py-2 px-3">
                    Editar Almacén
                </button>
            </div>
        </form>

        <div class="table-responsive-lg col">
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Localización</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let almacen of almacenes">
                        <td>{{ almacen.nombre }}</td>
                        <td>{{ almacen.localizacion }}</td>
                        <td>
                            <button
                                class="btn btn-warning btn-sm me-2"
                                (click)="cargarAlmacenAEditar(almacen)"
                            >
                                Editar
                            </button>
                            <button
                                class="btn btn-danger btn-sm"
                                (click)="eliminarAlmacen(almacen.id)"
                            >
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
