<div class="container mt-5">
    <!-- Formulario para crear un nuevo pedido -->
    <div class="row mb-4">
        <div class="col-12 col-lg-3">
            <h3>Crear Nuevo Pedido</h3>
            <form (ngSubmit)="crearPedido()">
                <div class="mb-3">
                    <label for="matricula" class="form-label"
                        >Matrícula del camión</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="matricula"
                        [(ngModel)]="nuevoPedido.matricula_camion"
                        name="matricula"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="origen" class="form-label">Origen</label>
                    <select
                        class="form-select"
                        [(ngModel)]="nuevoPedido.origen"
                        [ngModelOptions]="{ standalone: true }"
                    >
                        <option
                            *ngFor="let almacen of almacenes"
                            [value]="almacen.nombre"
                        >
                            {{ almacen.nombre }}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="destino" class="form-label">Destino</label>
                    <select
                        class="form-select"
                        [(ngModel)]="nuevoPedido.destino"
                        [ngModelOptions]="{ standalone: true }"
                    >
                        <option
                            *ngFor="let almacen of almacenes"
                            [value]="almacen.nombre"
                        >
                            {{ almacen.nombre }}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input
                        type="date"
                        class="form-control"
                        id="fecha"
                        [(ngModel)]="nuevoPedido.fecha_salida"
                        name="fecha"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado</label>
                    <select
                        class="form-select"
                        id="estado"
                        [(ngModel)]="nuevoPedido.estado"
                        name="estado"
                        required
                    >
                        <option value="pendiente">Pendiente</option>
                        <option value="revisando">En proceso</option>
                        <option value="completado">Completado</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark badge fs-5 py-2 px-3">
                    Añadir Pedido
                </button>
            </form>
        </div>
        <!-- Tabla de pedidos -->

        <div class="table-responsive-lg col">
            <table class="table table-bordered table-hover align-middle">
                <thead class="table">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedido of pedidos">
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.matricula_camion }}</td>
                        <td>{{ pedido.origen }}</td>
                        <td>{{ pedido.destino }}</td>
                        <td>
                            <app-selector-estado
                                [pedido]="pedido"
                            ></app-selector-estado>
                        </td>
                        <td>{{ pedido.fecha_salida | date: 'short' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
